#navBar {
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

button {
  background-color: white;
  border: none;
  height: inherit;
  width: 150px;
  font-size: 15px;
}

button:hover {
  background-color: #ADD8E6;
}
